
@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <center><h1>Nudge Petclinic</h1></center>
    <center> <p class="lead">WebDemo include the NudgeAPM Agent .Net</p></center>
    <center> <p><a>@Html.ActionLink("Connexion", "BuildConnexionForm", "Authentication")</a></p></center>
</div>


<div class="row">

    <!-- nudge info-->
    <div class="col-md-4">
        <h2>Nudge, a french entreprise specialized in APM</h2>
        <p><a class="btn btn-default" href="https://www.nudge-apm.com/en/?locale=en">Learn more about Nudge &raquo;</a></p>
    </div>

    <!-- nudge .Net install-->
    <div class="col-md-4">
        <h2>Got to the .Net ressources</h2>
        <p><a class="btn btn-default" href="https://www.nudge-apm.com/features/"> Learn more &raquo;</a></p>
    </div>

    <!-- nudge .Net install-->
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

</div>

